<!DOCTYPE html>
<html>
<head>
    <title>Entry/Exit Form</title>
</head>
<body>
    <h1>Entry/Exit Form</h1>
    <form action="/process_form/" method="POST">
        <p>
            Visitor ID: <input name="visitorId">
        </p>
        <p>
            Date (YYYY-MM-DD): <input name="date">
        </p>
        <p>
            Time (HHMM): <input name="time">
        </p>
        <p>
            Direction (entry or exit): <input name="direction">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>
</body>
</html>